body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#output {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    width: 300px;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.key {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    background-color: black;
    color: aliceblue;
}

.space-key {
    grid-column: span 5;
    
}

